body {
    font-family: Courier, monospace;
    background-color: rgb(236, 174, 168);
    text-align: center;
  }

  h1 {
    color: rgb(114, 111, 114);
  }

  h3 {
    color: rgb(255, 255, 255);
  }
  div a {
    text-decoration: none;
  }
  .pics {
    text-align: center;
    padding-top: 1em;
  }