body {
    font-family: Courier, monospace;
    background-color: rgb(250, 207, 203);
    text-align: center;
  }

  h1 {
    color: rgb(0, 0, 0);
    font-size: 2.5em;
  }

  h3 {
    color: rgb(104, 100, 104);
  }
  div a {
    text-decoration: none;
  }
  .pics {
    text-align: center;
    padding-top: 1em;
  }